/* file needs to exist for github release action to work */

.todoist-setting-div > .setting-item > .setting-item-control {
	justify-content: space-around;
	padding: 0;
	width: 100%;
}

.todoist-query-setting {
	width: 45%;
}
